doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/loginStyle.css')
    link(rel='stylesheet', href='/stylesheets/dashboardStyle.css')
    link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
    script(src="/javascripts/deleteMessage.js")  

  body
    if error
      p.error-message !{error}
    else   
      header

          div#header
            div#logo
              img#catLogo(src="../images/catLogo.png", alt="Cat")
              h1
                | Paws
                span#only Only
            div.nav-links
              a.longBttn#navLink(href="/profile") Profile
              a.longBttn#navLink(href="/logout") Logout
              a.longBttn#navLink(href="/newpost") +
      div.centerPage
          
        p#welcome 
          | Welcome 
          span#only #{username}!

        div.messages
          each messageParam in messagesParams
            div.onemessage
              div.userheader
                img.user-img(src=messageParam.author.profileImg, alt='Profile Image')
                p.username= messageParam.author.username
                if messageParam.author.id == userId
                  a.edit-my-msg(href=`/api/message/${messageParam._id}`)
                    image(src='../images/editIcon.png', alt='Edit')                  
                  button.delete-my-msg(data-id=messageParam._id)
                    img(src='../images/deleteIcon.png', alt='Delete')

              div.message-content
                p.message !{messageParam.messagecontent}
                if messageParam.messageImg
                  img.message-img(src='/' + messageParam.messageImg.replace(/\\/g, '/'), alt='Message Image')
